@model Dragonfly.Models.Clients.ClientsModel

@{
    ViewBag.Title = "Index";
    PageData["Logged"] = ViewBag.Logged;
    PageData["UserName"] = ViewBag.UserName;
}

<h3>Index</h3>
@if (ViewBag.Logged == false)
{
    <div>
        <span>No clients available. Need to login.</span>
    </div>
}
else
{
    <div>
        <table class="info_table">
            <col width="10%" />
            <col width="40%" />
            <col width="20%" />
            <col width="20%" />
            <col width="10%" />
            <tr>
                <th class="info_table_header">ID</th>
                <th class="info_table_header">Name</th>
                <th class="info_table_header">Type</th>
                <th class="info_table_header">INN</th>
                <th class="info_table_header"></th>
            </tr>
            @foreach (var client in Model.Clients)
            {
                <tr>
                    <td class="f-cell i_t_cell">@client.ID</td>
                    <td class="i_t_cell">@client.Name</td>
                    <td class="i_t_cell">@client.Type.TypeName</td>
                    <td class="i_t_cell">@client.INN</td>
                    <td class="l-cell i_t_cell">
                        <a id="add-techsupport"
                           href="@Url.Action("ClientEntitlements", "Entitlements", new { id = client.ID })"
                           title="Show entitlements">
                            <i class="fa fa-money fa-2x" style="color: black;"></i>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
}
