@model Dragonfly.Models.Entitlement.EntitlementsModel

@{
    ViewBag.Title = "Entitlements";
    PageData["Logged"] = ViewBag.Logged;
    PageData["UserName"] = ViewBag.UserName;
}

<h2>Entitlements</h2>

@if (ViewBag.Logged == false)
{
    <div>
        <span>No entitlements available. Need to login.</span>
    </div>
}
else
{
    <div>
        <table class="details_table">
            @if (Model.ProjectId > 0)
            {
                <tr>
                    <td class="det_tab_f_cell">
                        <Label class="details_table_field_head">Project</Label>
                    </td>
                    <td class="det_tab_cell">
                        <label class="details_table_field_content">
                            @Model.ProjectName
                        </label>
                    </td>
                </tr>
            }
            @if (Model.ClientId > 0)
            {
                <tr>
                    <td class="det_tab_f_cell">
                        <label class="details_table_field_head">Client</label>
                    </td>
                    <td class="det_tab_cell">
                        <label class="details_table_field_content">
                            @Model.ClientInternalName
                        </label>
                    </td>
                </tr>
            }
        </table>
        @*@if (Model.ProjectId > 0)
            {
                <div>Projtct: @Model.ProjectName</div>
            }
            @if (Model.ClientId > 0)
            {
                <div>Client: @Model.ClientInternalName</div>
            }*@
        <table class="info_table">
            @if (Model.ProjectId < 1)
            {
                <col width="15%" />
                <col width="10%" />
                <col width="10%" />
                <col width="10%" />
            }
            else
            {
                <col width="15%" />
                <col width="15%" />
                <col width="15%" />
            }
            <col width="15%" />
            <col width="10%" />
            <col width="25%" />
            <col width="5%" />
            <tr>
                @if (Model.ProjectId < 1)
                {
                    <th class="info_table_header">Project</th>
                }
                <th class="info_table_header">Date created</th>
                <th class="info_table_header">Ent. begin</th>
                <th class="info_table_header">Ent. end</th>
                <th class="info_table_header">License type</th>
                <th class="info_table_header">Licenses count</th>
                <th class="info_table_header">Details</th>
                <th class="info_table_header"></th>
            </tr>
            @foreach (var ent in Model.Entitlemens)
                {
                <tr>
                    @if (Model.ProjectId < 1)
                    {
                        <td class="f-cell i_t_cell">@ent.Projectname</td>
                    }
                    <td class="i_t_cell">@ent.DateCreated.ToString("dd.MM.yyyy")</td>
                    <td class="i_t_cell">@ent.DateBegin.ToString("dd.MM.yyyy")</td>
                    <td class="i_t_cell">@ent.DateEnd.ToString("dd.MM.yyyy")</td>
                    <td class="i_t_cell">@ent.LicenseTypeName</td>
                    <td class="i_t_cell">@ent.LicensesCount</td>
                    <td class="i_t_cell">@ent.Details</td>
                    <td class="l-cell i_t_cell">
                        <a id="edit-entitlement"
                           href="@Url.Action("EditEntitlement", "Entitlement", new { entitlementId = ent.EntitlementId })"
                           title="Edit entitlements">
                            <i class="fa fa-pencil fa-1x" style="color: black;"></i>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
}