@model Dragonfly.Models.Projects.ProjectsModel

@{
    ViewBag.Title = "Projects";
    PageData["Logged"] = ViewBag.Logged;
    PageData["UserName"] = ViewBag.UserName;
}

<h3>Available projects</h3>
@if (ViewBag.Logged == false)
{
    <div>
        <span>No projects available. Need to login.</span>
    </div>
}
else
{
    <div>
        <table class="info_table">
            <col width="10%" />
            <col width="50%" />
            <col width="20%" />
            <col width="20%" />
            <col width="5%" />
            <tr>
                <th class="info_table_header">ID</th>
                <th class="info_table_header">Name</th>
                <th class="info_table_header">Date Create</th>
                <th class="info_table_header">Owner</th>
                <th class="info_table_header"></th>
            </tr>
            @foreach (var proj in Model.AvailableProjects)
            {
                <tr>
                    <td class="f-cell i_t_cell">@proj.ProjectDetails.Id</td>
                    <td class="i_t_cell">@proj.ProjectDetails.ProjectName</td>
                    <td class="i_t_cell">@proj.DateCreation.ToString("dd.MM.yyyy")</td>
                    <td class="l-cell i_t_cell">
                        @string.Join(", ", proj.Users.Select(u => u.UserDescription.Login))
                    </td>
                    <td class="l-cell i_t_cell">
                        <a value="D"
                        id="project-details"
                        href="@Url.Action("Index", "Project", new { projectId = proj.ProjectDetails.Id })">
                        <Span>Details</Span>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
}

