@model Dragonfly.Models.Projects.ProjectsModel

@{
    ViewBag.Title = "Projects";
    PageData["Logged"] = ViewBag.Logged;
    PageData["UserName"] = ViewBag.UserName;
}

<h3>Available projects</h3>
@if (ViewBag.Logged == false)
{
    <div>
        <span>No projects available. Need to login.</span>
    </div>
}
else
{
    <div>
        <table class="info_table">
            <col width="5%" />
            <col width="45%" />
            <col width="20%" />
            <col width="20%" />
            <col width="15%" />
            <tr>
                <th class="info_table_header">ID</th>
                <th class="info_table_header">Name</th>
                <th class="info_table_header">Date Create</th>
                <th class="info_table_header">Owner</th>
                <th class="info_table_header"></th>
            </tr>
            @foreach (var proj in Model.AvailableProjects)
            {
                <tr>
                    <td class="f-cell i_t_cell">@proj.ProjectDetails.Id</td>
                    <td class="i_t_cell">@proj.ProjectDetails.ProjectName</td>
                    <td class="i_t_cell">@proj.ProjectDetails.DateCreation.ToString("dd.MM.yyyy")</td>
                    <td class="l-cell i_t_cell">
                        @string.Join(", ", proj.Users.Select(u => u.UserDescription.Login))
                    </td>
                    <td class="l-cell i_t_cell">
                        <a id="project-details"
                           href="@Url.Action("Index", "Project", new { projectId = proj.ProjectDetails.Id })">
                            <Span>
                                <img src="~/Images/Icons/information.png" alt="Details"
                                     title="Project details"/>
                            </Span>
                        </a>
                        <a id="add-entitlement"
                           href="@Url.Action("NewEntitlement", "Entitlement", new { projectId = proj.ProjectDetails.Id })">
                            <Span>
                                <img src="~/Images/Icons/bag_plus.png" alt="+Entitlement"
                                     title="Add new entitlement" />
                            </Span>
                        </a>
                        <a id="add-techsupport"
                           href="@Url.Action("NewTechsupport", "Project", new { projectId = proj.ProjectDetails.Id })">
                            <Span>
                                <img src="~/Images/Icons/bug_plus.png" alt="+Techsupport"
                                     title="Add new techsupport entitlement" />
                            </Span>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
}

