@model Dragonfly.Models.Projects.ProjectModel

@{
    ViewBag.Title = "Add Project";
    PageData["Logged"] = ViewBag.Logged;
}

<h3>New project</h3>
@if (ViewBag.Logged == true && Model != null)
{
    using (Html.BeginForm(
        "CreateProject",
        "Project",
        FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    <label class="edit-row-label">Name</label>
                </td>
                <td>
                    @Html.TextBoxFor(x => x.ProjectDetails.ProjectName, new { @class = "edit-row-text" })
                </td>
            </tr>
            <tr>
                <td>
                    <label class="edit-row-label">Description</label>
                </td>
                <td>
                    @Html.TextAreaFor(x => x.ProjectDetails.Description, 5, 55, new { @class = "edit-row-text" })
                </td>
            </tr>
        </table>
        <div class="text-left body-content">
            <input class="btn btn-success"
                   type="submit" value="Create" />
        </div>
        @*<a class="body-button"
               href="@Url.Action("CreateTask", "Project")">
                <span>
                    Create
                </span>
            </a>*@
    }
}
else
{
    if (!string.IsNullOrEmpty(ViewBag.InitError))
    {
        <div>
            @ViewBag.InitError;
        </div>
    }
    else
    {
        <div>
            @ViewBag.Error
        </div>
    }
}
