@model Dragonfly.Models.Projects.ProjectModel

@{
    ViewBag.Title = Model.ProjectName;
    PageData["Logged"] = ViewBag.Logged;
    ViewBag.InitError = Model?.ProjectError;
}

<div>
    <h3 style="float: left">Project: @Model.ProjectName</h3>
    <div style="position: relative; float: right;">
        <a href="@Url.Action("Edit", "Project", new { id = Model.Id })"
           class="manage_btn">edit</a>
        <a href="@Url.Action("Delete", "Project", new { id = Model.Id })"
           class="manage_btn">delete</a>
    </div>
</div>
@if (ViewBag.Logged == true && Model != null)
{
    <table class="details_table">
        <col width="20%" />
        <col width="80%" />
        <tr>
            <td class="det_tab_f_cell">
                <label>Name</label>
            </td>
            <td class="det_tab_f_cell">
                <label class="details_table_field_content">
                    @Model.ProjectName
                </label>
            </td>
        </tr>
        <tr>
            <td class="det_tab_cell">
                <label>Description</label>
            </td>
            <td class="det_tab_cell">
                <label class="details_table_field_content">
                    @Model.Description
                </label>
            </td>
        </tr>
        <tr>
            <td class="det_tab_cell">
                <label>Date creation</label>
            </td>
            <td class="det_tab_cell">
                <label class="details_table_field_content">
                    @Model.DateCreation.ToString("dd.MM.yyyy")
                </label>
            </td>
        </tr>
    </table>

    <div>
        <div>
            <label>Clients</label>
            <table class="info_table">
                <tr>
                    <th class="info_table_header">Name</th>
                    <th class="info_table_header">INN</th>
                    <th class="info_table_header">OGRN</th>
                    <th class="info_table_header">KPP</th>
                    <th class="info_table_header">Inner name</th>
                </tr>
                @foreach (var client in Model.Clients)
                {
                    <tr>
                        <td class="f-cell i_t_cell">@client.Name</td>
                        <td class="i_t_cell">@client.INN</td>
                        <td class="i_t_cell">@client.OGRN</td>
                        <td class="i_t_cell">@client.KPP</td>
                        <td class="l-cell i_t_cell">@client.InnerName</td>
                    </tr>
                }
            </table>
        </div>
        <div>
            <label>Users</label>
            <table class="info_table">
                <tr>
                    <th class="info_table_header">Login</th>
                    <th class="info_table_header">Name</th>
                    <th class="info_table_header">Surname</th>
                    <th class="info_table_header">Email</th>
                    <th class="info_table_header">Rights</th>
                    <th class="info_table_header">Manage</th>
                </tr>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td class="f-cell i_t_cell">@user.Login</td>
                        <td class="i_t_cell">@user.Name</td>
                        <td class="i_t_cell">@user.Surname</td>
                        <td class="i_t_cell">@user.EMail</td>
                        <td class="i_t_cell">
                            <div>
                                @if (user.IsAdmin)
                                {
                                    <div>Full access</div>
                                }
                                else
                                {
                                    <div>
                                        @user.RolsDescription;
                                    </div>
                                }
                            </div>
                        </td>
                        <td class="l-cell i_t_cell"></td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
else
{
    if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div>
            @ViewBag.Error
        </div>
    }
}

